html {
  background-color: black;
  height: 100vh;
  color: white;
}
body {
  font-size: large;
  background-color: black;
  color: white;
  height: 100vh;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: Jost-Regular;
}

/* #header-image {
  padding-top: 10px;
  width:50%;
  margin-bottom: 2%;
} */

.main-middle {
  padding: 12px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

#faq {
  text-align: center;
}

/* .btn_:hover{
  background: #FB923C;
}

.btn_:active{
  background: #E5E5E5;
}

#paid_button{
  font-weight: 500;
  background-color: #22C55E;
  display: none;
  
}

#invoice-button{
  background-color: #22C55E;
} */
.main-buttons button {
  margin: 5px 0px 5px 0px;
  padding: 15px;
  width: 100%;
}

.main-buttons {
  display: grid;
  align-items: center;
  text-align: center;
  padding-bottom: 10px;
}

.main-buttons button.btn-success {
  font-size: large;
}

.modal-footer button {
  font-size: large;
  padding: 10px;
}

.emailbuttons .modal-footer {
  display: flex;
}

.buttons Button {
  padding: 10px;
  margin: 10px;
}

/* .input-group-text {
  min-width: 150px;
} */

.btn-check:checked + .btn-primary {
  border-color: black;
  border-width: 3px;
}

#invoicestring {
  text-align: left;
  margin-top: 10px;
  display: inline-block;
  border: 1px;
  padding: 5px;
  border-style: solid;
  border-radius: 12px;
  height: 100%;
  white-space: pre-wrap; /* CSS3 */
  white-space: -moz-pre-wrap; /* Firefox */
  white-space: -pre-wrap; /* Opera <7 */
  white-space: -o-pre-wrap; /* Opera 7 */
  word-wrap: break-word; /* IE */
}

#main_modal {
  min-width: 50%;
}
.modal-footer {
  display: contents;
}

#guide_row {
  text-align: right;
}

#emailModal span.input-group-text {
  min-width: 0;
}

#paid_message {
  text-align: center;
  color: green;
}

canvas {
  padding: 10px;
  background-color: white;
}

button.close {
  color: white;
}
.modal-content {
  border: 3px solid white !important;
}
.footer-text {
  text-align: center;
  margin-top: 20px;
}

#expirydate {
  color: red;
}

#dataplanlist {
  list-style: none;
}

#key-input {
  margin: 2% 0 2% 0;
}

.navbar-nav {
  font-size: large;
}
#logo {
  max-width: 500px;
  margin: auto;
}
.accordion-body {
  text-align: left;
}
h2.accordion-header button {
  font-size: x-large;
}

.nav-item {
  padding: 5px;
  text-align: center;
}
#nav-menu-image {
  width: 50%;
}

.faq-headline {
  margin: 4%;
}

.order-status-canvas {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-bottom: 2%;
}

.copy-button {
  max-width: 50px;
  margin: 3px;
}

.order-ID {
  width: 100%;
}

.modal-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modal-footer button {
  width: 100%;
}

#order-id-inputs input {
  background-color: #101111;

  color: #ffffff;
  border: 2px solid #6a6b6b;
}

#order-id-input {
  padding: 10% 0 3% 0;
  background-color: #1c1d1d;
  border-radius: 10px;
  color: #ffffff;
  border: 2px solid #6a6b6b;
}

@media screen and (min-width: 420px) {
  #onchain-input input {
    min-width: 350px;
    background-color: #1c1d1d;
    border-radius: 10px;
    color: #ffffff;
    border: 2px solid #6a6b6b;
    max-width: 400px;
  }
}

.range-slider__tooltip__label {
  display: none;
}

#fee-range {
  width: 100%;
  margin: 10px 0px 10px 0px;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#price {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.order-status {
  margin-top: 10px;
  display: inline-block;
  border: 1px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;
  white-space: pre-wrap; /* CSS3 */
  white-space: -moz-pre-wrap; /* Firefox */
  white-space: -pre-wrap; /* Opera <7 */
  white-space: -o-pre-wrap; /* Opera 7 */
  word-wrap: break-word; /* IE */
}

div.bitcoin-address {
  max-width: 80%;
  height: 100%;
  border: 1px solid white;
  border-radius: 12px;
  padding: 3px;
  white-space: pre-wrap; /* CSS3 */
  white-space: -moz-pre-wrap; /* Firefox */
  white-space: -pre-wrap; /* Opera <7 */
  white-space: -o-pre-wrap; /* Opera 7 */
  word-wrap: break-word; /* IE */
}

p.bitcoin-address {
  /* max-width: 80%;
  height: 100%; */

  /* padding: 3px; */
  /* white-space: pre-wrap;  */
  white-space: -moz-pre-wrap; /* Firefox */
  white-space: -pre-wrap; /* Opera <7 */
  white-space: -o-pre-wrap; /* Opera 7 */
  word-wrap: break-word; /* IE */
}

div.bitcoin-address a {
  white-space: pre-wrap; /* CSS3 */
  white-space: -moz-pre-wrap; /* Firefox */
  white-space: -pre-wrap; /* Opera <7 */
  white-space: -o-pre-wrap; /* Opera 7 */
  word-wrap: break-word; /* IE */
}

.send-confirmation {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.send-confirmation > * {
  margin: 3px;
}

.input-button {
  /* width: 100%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid #6a6b6b;
  background-color: #1e1f20;
  border-radius: 12px;
  z-index: 5;
  padding: 15px;
}

.success-alert-input {
  /* max-width: min-content; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wallet-connect-success {
  max-width: min-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

div.preview-image-container {
  max-width: 400px;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dropzone {
  width: 400px;
}
div.preview-image-container img {
  /* max-height: 300px; */
  background-color: black;
}
@media screen and (max-width: 420px) {
  #tab-container {
    width: 350px;
    z-index: 5;
  }
  .dropzone {
    max-width: 300px;
  }
}
@media screen and (max-width: 768px) {
  #left-side-container {
    margin-bottom: 10px;
  }
}

.tab-content div.tab-pane.active {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#tab-container .nav-link {
  color: #ffff;
  background: #313033;
  z-index: 5;

  padding: 6px 10px;
  border-radius: 10px;
}
#tab-container .nav-link.active {
  color: #ffff;
  background: #f69102;
  padding: 6px 10px;
  border-radius: 10px;
  z-index: 5;
  border: solid 2px #f5b051;
}

.form-check-input {
  color: #f69102;
}

#text-input-container {
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 420px) {
  #text-input-container {
    width: 100%;
  }
}

#text-input-container textarea {
  width: 100%;
  background-color: #1c1d1d;
  color: #fff;
  border: 2px solid #6a6b6b;
  border-radius: 10px;
}

#file-upload-selector {
  max-width: 400px;
  width: 100%;
}

#social-icons-collections {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#wallet-thumbnails {
  display: flex;
  row-gap: 10px;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  justify-items: center;
}

div.wallet-card {
  /* margin: 5px; */
  height: 100%;
  min-height: 300px;
  min-width: 200px;
  max-width: 350px;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
}

.wallet-card-button {
  /* position: absolute; */
  bottom: 0;
  margin: 10px;
}

.ordinal-iframe {
  max-width: 100%;
  width: 200px;
  background-color: white;
  padding: 0.25rem;
  border: 1px solid white;
  border-radius: 0.375rem;
  height: auto;
}

#domain-input-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
}

@media screen and (max-width: 420px) {
  #domain-input-container {
    width: 100%;
  }
}

#domain-input-field {
  margin: 30px;
}

#domain-input-field input {
  background-color: #1c1d1d;
  border-radius: 10px 0 0 10px;
  color: #ffffff;
  border: 2px solid #6a6b6b;
}

.available {
  color: forestgreen;
}

.not-available {
  color: red;
}
.collection-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#news-input-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: strech;
  align-content: stretch;
  width: 400px;
}

@media screen and (max-width: 420px) {
  #news-input-container {
    width: 100%;
  }
}

.news-input-group {
  margin: 10px 0px 10px 0px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
}

.news-input-group input {
  background-color: #1c1d1d;
  color: #fff;
  border: 2px solid #6a6b6b;
}
.news-input-group textarea {
  background-color: #1c1d1d;
  color: #fff;
  border: 2px solid #6a6b6b;
}
span.input-group-text.required .required:after {
  content: "*";
  color: red;
}

#wallet-connect-cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: stretch;
  flex-wrap: wrap;
}

.wallet-logo {
  background-color: white;
  padding: 10px;
  height: 110px;
  border-radius: 0;
}

.wallet-logo.card-img-top {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

#tab-container .nav-link {
  white-space: nowrap;
}
#tab-container {
  height: 100%;
  z-index: 5;
  opacity: 0.8;

  text-align: center;
  border: 2px solid #6a6b6b;
  background-color: #1e1f20;
  border-radius: 12px;
  padding: 15px;
}

#brc-20-input-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: strecht;
  width: 400px;
}

@media screen and (max-width: 420px) {
  #brc-20-input-container {
    width: 100%;
  }
}

.modal-preview-in-utxomodal {
  max-width: 80%;
  height: 100%;
  padding: 3px;
  white-space: pre-wrap; /* CSS3 */
  white-space: -moz-pre-wrap; /* Firefox */
  white-space: -pre-wrap; /* Opera <7 */
  white-space: -o-pre-wrap; /* Opera 7 */
  word-wrap: break-word; /* IE */
}

#wallet-connect-cards .card {
  width: 300px;
  height: 280px;
  background-color: #1e1f20;
  border: 2px solid #676767;
  border-radius: 10px;
}

#wallet-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: space-around;
  align-items: stretch;
  justify-items: stretch;
}

.wallet-card {
  -moz-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  -o-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.wallet-card:hover {
  -webkit-transform: translate(0, -8px);
  -moz-transform: translate(0, -8px);
  -ms-transform: translate(0, -8px);
  -o-transform: translate(0, -8px);
  transform: translate(0, -8px);
}

.pagination {
  margin-top: 20px;
  display: flex;
  flex-direction: row;

  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
}
.pagination .page-item .page-link {
  color: #fff;
  background-color: #1e1f20;
}

.pagination .page-item.active .page-link {
  background-color: #f69102;
  border-color: #f69102;
  color: #ffff;
}
/* CollectionsCatalog.css */
.collections-catalog {
  padding: 1rem;
}

.text-center {
  text-align: center;
}

.search-input {
  max-width: 300px;
}
.search-input input {
  background-color: #0f1010;
}

.collection-link {
  text-decoration: none;
  color: inherit;
}

.collection-card {
  border-radius: 5px;
  padding: 1rem;
  background-color: #1e1f20;
  border: 2px solid #676767;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.collection-card img {
  object-fit: cover;
  width: 100%;
  height: 200px;
}

#info-text-home-bottom {
  text-align: center;
  display: flex;
  color: #888889;
  margin-bottom: 0px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.seed-phrase-ordimint-wallet {
  white-space: pre-wrap;
  word-break: break-word;
  overflow-wrap: break-word;
  padding: 1rem;
  border-radius: 0.25rem;
  border: solid 1px;
}

.iframe-container {
  width: 100%;
  overflow: hidden;
  border: none;
}

.modal-content {
  background-color: #1e1f20 !important;
}

.iframe-container iframe {
  width: 100%;
  border: none;
}
.toggle-button-custom label {
  --bs-btn-color: #fff;
  background-color: #30291d;
  --bs-btn-bg: #242526;
  --bs-btn-border: solid 2px;
  --bs-btn-active-border-color: #f69102;
  --bs-btn-active-bg: #f69102;
  --bs-btn-border-color: #f69102;
  --bs-btn-active-color: #fff;
}
.toggle-button-custom2 label {
  background-color: #30291d;
  --bs-btn-color: #fff;
  --bs-btn-bg: #242526;
  --bs-btn-border: solid 1px;
  --bs-btn-border-color: #f69102;
  --bs-btn-active-border-color: #f69102;
  --bs-btn-active-bg: #f69102;
  --bs-btn-active-color: #fff;
}

#inscription-number-selection {
  width: 100%;

  border: 2px solid #6a6b6b;
  background-color: #1e1f20;
  border-radius: 12px;
  z-index: 5;
  padding: 15px;
  margin: 0px 0px 10px 0px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
}

#left-side-container {
  max-width: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: stretch;
  align-content: stretch;
  flex-wrap: wrap; */
}

#right-side-container {
  height: 100%;
  max-width: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: stretch;
  align-content: stretch;
  flex-wrap: wrap; */
}

#fee-select-container {
  max-width: 450px;
  padding: 15px;
  margin-top: 10px;
  border: 2px solid #6a6b6b;
  background-color: #1e1f20;
  border-radius: 12px;
  text-align: center;
  z-index: 5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  align-content: stretch;
  flex-wrap: wrap;
}

.preview-image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px dashed #ccc;
  border-radius: 12px;
  padding: 20px;
  /* text-align: center; */
  cursor: pointer;
}

.preview-image {
  max-width: 200px;
  max-height: 200px;
  object-fit: cover;
}

.back-next-button-modal {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: space-around;
}
.back-next-button-modal button {
  margin: 5px;
}

.wallet-connect-button-auction-modal {
  margin: 15px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: space-around;
}
.toggle-button-custom-auction label {
  --bs-btn-color: white;
  --bs-btn-bg: black;
  --bs-btn-border-color: white;
}

.wallet-list-item-auction {
  border: 2px solid #dee2e6;
  border-radius: 12px;
  height: 100%;
}

.wallet-list-item-auction:hover {
  border: 2px solid #cbe80a;
  border-radius: 12px;
}

.wallet-list-item-auction.active {
  border: 2px solid #cbe80a;
  border-radius: 12px;
}

#create-offer-content {
  border: 1px solid #dee2e6;

  border-radius: 12px;
}

#ordinal-auction-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

#offer-invoice-modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#mobile-menu div.container {
  padding-right: 0;
}

.app_bg {
  background: rgba(17, 18, 19, 1);
  min-height: 100vh;
  overflow: hidden;
  z-index: auto;
}
.nav-row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.active_nav {
  border-radius: 10px;
  background: #5b545c;
  padding: 10px 15px;
  color: #ffff;
  font-size: 18px;
  text-decoration: none;
  font-weight: 800;
}
.active_nav:hover {
  color: #ffff;
}

.inactive_nav {
  border-radius: 10px;
  font-size: 18px;
  padding: 10px 15px;
  color: #ffff;
  text-decoration: none;
  font-weight: 800;
}
.inactive_nav:hover {
  color: #ffff;
}

.nav_button {
  color: #ffffff;
  background: #242526;
  text-decoration: none;
  border: 2px solid #6a6b6b;
  font-size: 16px;
  padding: 10px 15px;

  border-radius: 10px;
}

.nav_button:hover {
  color: #ffffff;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  background-color: red;
  border-color: red;
}

.glow {
  border-radius: 560px;
  opacity: 0.6000000238418579;
  background: #500e49;
  filter: blur(280px);
}
@media (min-width: 768px) {
  .navbar-nav {
    align-items: center;
  }
}

.use_button {
  background: #303133;
  padding: 7px 14px;
  color: #ffffff;
  border-radius: 10px;

  border: none;
}

.col_click {
  z-index: 20;
}
.pay_button {
  background: #f69102;
  padding: 9px 15px;
  color: #ffffff;
  border: none;
  border-radius: 10px;
  margin-bottom: 15px;
}

.active_link:hover {
  color: #f69102;
}
.custom-radio[type="radio"] {
  /* Set the desired background color for the unchecked state */
  background-color: #ffff; /* Replace with your desired color */

  /* Additional styling to customize the appearance of the radio button */
  width: 20px;
  height: 20px;
  border-radius: 50%; /* Make it round to create a circular radio button */
  margin-right: 8px;
}

/* You may want to style the radio button differently when it's checked */
.custom-radio[type="radio"]:checked {
  background-color: #f69102; /* Replace with your desired color for the checked state */
}

.form-check-label {
  margin-right: 15px;
  font-size: 14px;
}
.connect_button {
  background: #f69102;
  padding: 9px 12px;
  color: #ffffff;
  border: none;
  width: 180px;
  border-radius: 10px;
  margin-bottom: 15px;
}
.secondary_button {
  background: #2c2a2e;
  padding: 9px 12px;
  color: #ffffff;
  border: none;
  width: 180px;
  border-radius: 10px;
  margin-bottom: 15px;
}
.form-check-input[type="checkbox"] {
  background-color: #fff;
}

/* You may want to style the checkbox differently when it's checked */
.form-check-input[type="checkbox"]:checked {
  background-color: #f69102;
}

.custom_border {
  border: 2px solid red;
}

.link_text {
  color: #888889;
  text-decoration: none;
}

.link_text:hover {
  color: #f69102;
  z-index: 5;
}

.list_group {
  color: #fff !important;
  background-color: #000 !important;
}
#myAccordion {
  --bs-accordion-color: #fff;
  --bs-accordion-header-color: #fff;
  --bs-accordion-bg: #000;
  --bs-accordion-btn-color: #fff;
  --bs-accordion-btn-active-color: #000;
}
.accordion-button:not(.collapsed) {
  color: #000;
}

#mobile-menu div.container {
  padding-right: 0;
}
